:root {
  --theme-black: #424242;
  --grey: #9b9b9b;
  --light-grey: #a6a6a6;
}

html, body, #root {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  background-color: #f9f9f9;
  color: var(--abt-black);
}
#root > div {
    min-height: 100%;
    background-color: #fffdfb;
    position: relative;
}


/*------------------------------- frame -------------------------------*/
.frame {
    flex-direction: column;
    overflow-x: hidden;
}
@media (min-width: 960px) {
    #root {
        justify-content: center;
        display: flex;
    }
    .frame {
        width: 1250px;
    }
}

.frame .header {
  padding-top: 25px;
  margin-bottom: 80px;
  display: block;
}

.frame .header .menu{
  margin-top: 20px;
}

.frame .header .logo {
  justify-content: center;
  display: flex;
}

.frame .header .cart{
  margin-top: 15px;
  float: right;
}

.frame .header .cart .cart-img{
  float: right;
}

/*-------Footer-------*/
#footer-wrapper {
  background: #f9f9f9;
}

#footer-wrapper .container-fluid.mar-container {
  margin-left: 18.3%;
}

#footer-wrapper .container-fluid.mar-container .nav.navbar-nav {
  margin-top: 10%;
}

#footer-wrapper .container-fluid.mar-container .nav li .mar-btn {
  color: var(--grey);
}

#footer-wrapper .container-fluid.mar-container .nav li .mar-btn:hover {
  background: none;
}

#footer-wrapper #sns-list {
  display: block;
  width: 100%;
  max-width: 180px;
  margin-top: 10px;
  margin-left: 27%;
}

#footer-wrapper #sns-list li i{
  font-size: 23px;
  color: var(--grey);
  margin-left: 10px;
  margin-right: 8px;
}
/*------------------------------- /frame -------------------------------*/



/*----------------------------- SelectPicker -----------------------------*/
.mar-selectpicker > .mar-selectpicker-select {
  display: none !important;
}

.mar-selectpicker > .dropdown > .dropdown-menu {
  margin-left: 30%;
  width: 38% !important;
}

/* toggle button */
.mar-selectpicker > .dropdown > button.mar-selectpicker-toggle {
  display: flex;
  width: 38%;
  background-color: #fff;
  align-items: center;
  color: var(--light-grey);
  cursor: pointer;
  font-size: 1em;
  border-radius: 0;
  height: 50px;
}

.mar-selectpicker > .dropdown > button.mar-selectpicker-toggle.with-arrow {
  padding-left: 1em;
  margin-right: 1em;
}

.mar-selectpicker > .dropdown > button.mar-selectpicker-toggle.with-arrow::after {
  content: '';
  width: 13px;
  height: 13px;
  border: none;
  background-image: url(../imgs/icons/arrow_dropdown_gray.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  margin-left: 8px;
}

.mar-selectpicker > .dropdown > button.mar-selectpicker-toggle.placeholder {
  color: var(--grey);
  font-size: 12px;
  font-weight: bold;
}

.mar-selectpicker.small > .dropdown > button.mar-selectpicker-toggle {
  font-size: 12px;
}

.mar-selectpicker > .dropdown.show > button.mar-selectpicker-toggle {
  border-color: #b3b3b3;
  border-color: var(--grey);
}

.mar-selectpicker > .dropdown > button.mar-selectpicker-toggle > span.dropdown-toggle-text {
  flex: 3;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: inherit;
  overflow-x: hidden;
}

.mar-selectpicker > .dropdown > button.mar-selectpicker-toggle.placeholder > span.dropdown-toggle-text {
  color: var(--light-grey) !important;
}



















.frame > .body {
    display: flex;
    flex: 1;
    flex-direction: column;
}








/*------------------------------- products ----------------------------------*/
.frame .body .feed .products .product {
    margin: 0 0 60px 0;
    padding: 0 25px;
}
.frame .body .feed .products .product .images ul {
    margin: 0;
    padding: 0;
}
.frame .body .feed .products .product .images ul li {
    list-style: none;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.frame .body .feed #checkout {
    background-color: #fff;
}
/*
@media (max-width: 767px) {
    #root > div > .body {
        padding-bottom: 669px;
    }
}
*/
/*------------------------------- /products ----------------------------------*/

/* ---------- ratio wrapper ---------- */
.ratio-wrapper {
    position: relative;
}
.ratio-wrapper-body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.ratio-wrapper-body > div,
.ratio-wrapper-body > img {
    width: 100%;
    height: 100%;
}






/*------------------------------- checkout ----------------------------------*/
#checkout .section {
    padding: 15px 25px;
}
#checkout .section h6 {
    color: #1c2d5b;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 16px;
}
#checkout .section ul {
    padding: 0 5px;
    list-style: none;
}
#checkout .form {
    background-color: rgb(249, 249, 249);
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid rgb(231, 231, 231);
    margin-top: 5;
}
#checkout .form .field-group {
    display: flex;
}
#checkout .form .field-group > .field {
    flex: 1;
}
#checkout .form .field-group > .field:first-child {
    margin-right: 5px;
}
#checkout .form .field-group > .field:last-child {
    margin-left: 5px;
}
/*------------------------------- /checkout ----------------------------------*/












.react-modal {
    background: transparent;
    box-shadow: none;
}
