:root {
  --theme-black: #424242;
  --grey: #9b9b9b;
}

html, body, #root {
  font-family: Roboto Condensed, sans-serif;
  height: 100%;
  background-color: #f9f9f9;
  color: var(--abt-black);
}
#root > div {
    min-height: 100%;
    background-color: #fffdfb;
    position: relative;
}


/*------------------------------- frame -------------------------------*/
.frame {
    flex-direction: column;
    overflow-x: hidden;
}
@media (min-width: 960px) {
    #root {
        justify-content: center;
        display: flex;
    }
    .frame {
        width: 1250px;
    }
}

.frame .header {
  padding-top: 25px;
  margin-bottom: 80px;
  display: block;
}

.frame .header .menu{
  margin-top: 20px;
}

.frame .header .logo {
  justify-content: center;
  display: flex;
}

.frame .header .cart{
  margin-top: 15px;
  float: right;
}

.frame .header .cart .cart-img{
  float: right;
}

.frame #category-block {
  width: 100%;
  display: block;
  height: 100%;
}

.frame #category-block .category {
  padding-top: 30px;
  justify-content: center;
  display: flex;
}

.frame #category-block .category .cat-style {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 2.94em;
  font-weight: bold;
  color: var(--theme-black);
  border-bottom: 3px solid var(--theme-black);
  padding: 0.50em 0.12em;
}

.frame #category-block .category .sorting-block {
  width: 100%;
}

#footer-wrapper {
  background: #f9f9f9;
}

#footer-wrapper .container-fluid.mar-container {
  margin-left: 18.3%;
}

#footer-wrapper .container-fluid.mar-container .nav.navbar-nav {
  margin-top: 10%;
}

#footer-wrapper .container-fluid.mar-container .nav li .mar-btn {
  color: var(--grey);
}

#footer-wrapper .container-fluid.mar-container .nav li .mar-btn:hover {
  background: none;
}

#footer-wrapper #sns-list {
  display: block;
  width: 100%;
  max-width: 180px;
  margin-left: 27%;
}

#footer-wrapper #sns-list li i{
  font-size: 23px;
  color: var(--grey);
  margin-left: 10px;
  margin-right: 8px;
}
/*------------------------------- /frame -------------------------------*/


























.frame > .body {
    display: flex;
    flex: 1;
    flex-direction: column;
}








/*------------------------------- products ----------------------------------*/
.frame .body .feed .products .product {
    margin: 0 0 60px 0;
    padding: 0 25px;
}
.frame .body .feed .products .product .images ul {
    margin: 0;
    padding: 0;
}
.frame .body .feed .products .product .images ul li {
    list-style: none;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.frame .body .feed #checkout {
    background-color: #fff;
}
/*
@media (max-width: 767px) {
    #root > div > .body {
        padding-bottom: 669px;
    }
}
*/
/*------------------------------- /products ----------------------------------*/







/*------------------------------- checkout ----------------------------------*/
#checkout .section {
    padding: 15px 25px;
}
#checkout .section h6 {
    color: #1c2d5b;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 16px;
}
#checkout .section ul {
    padding: 0 5px;
    list-style: none;
}
#checkout .form {
    background-color: rgb(249, 249, 249);
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid rgb(231, 231, 231);
    margin-top: 5;
}
#checkout .form .field-group {
    display: flex;
}
#checkout .form .field-group > .field {
    flex: 1;
}
#checkout .form .field-group > .field:first-child {
    margin-right: 5px;
}
#checkout .form .field-group > .field:last-child {
    margin-left: 5px;
}
/*------------------------------- /checkout ----------------------------------*/












.react-modal {
    background: transparent;
    box-shadow: none;
}
